[Unit]
Description=Paper Downloder
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/data/prophetdb/prophetdb-studio/paper-downloader/
Environment="PATH=/data/prophetdb/prophetdb-studio/.venv/bin:$PATH"
ExecStart=/data/prophetdb/prophetdb-studio/.venv/bin/pfetcher-monitor minio -u xxx -p xxx -d /data/prophetdb/prophetdb-studio/paper-downloader/ -t xxx -s 127.0.0.1:9000
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target