[Unit]
Description=Paper Downloder
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/data/prophetdb/prophetdb-studio/paper-downloader/
ExecStart=/data/prophetdb/prophetdb-studio/.venv/bin/pfetcher-monitor -d /data/prophetdb/prophetdb-studio/paper-downloader/ -t xxx
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target